#root {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
   
  }
  
  body{
    height: 100vh;
  }

  .chrono{
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    background-color: orange;
    padding: 0.5rem;
  
  }

  .chrono span{
    font-weight: bolder;
    font-size: 2.5rem;
    color: #ffffff;
  }

  .question{
    padding: .2rem;
    width: 100%;
  
  }
  .cardQuestion{
    height: 50%;
    overflow-x: hidden;
    border: 1px solid black;
  }

  .QuestionCard{
    padding: .5rem;
    background: skyblue;
    width: 100%;
    text-align: left;
    margin: .5rem 0;
  }

  .QuestionCard p{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bolder;
  }

  .QuestionCard  ul li{
    list-style: none;
    margin: 15px;
  }

  .QuestionCard input{
    width: 20px;
    height: 20px;
    margin: 10px;
  }

  .QuestionCard span{
    font-size: 20px; 
  }
  .cardAffich{
    background-color:rgba(137, 43, 226, 0.348);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 2rem;
    width: 25rem;
    height: 25rem;
    align-items: center;
  }
  .cardAffich .p1{
    font-size: 1.5rem;
    width: 100%;
    height: 3rem;
   
    
  }
  .cardAffich .p2{
    font-size: 1.5rem;
    width: 100%;
    height: 3rem;
   
    
  }
  .cardAffich .p3{
    font-size: 1.5rem;
    width: 100%;
    height: 3rem;
   
    
  }
  
  .cardAffich button{
    width: 10rem;
    background-color: red;
    color: #ffffff;
    border-radius: 2rem;
  }
  button{
    margin-top: 2rem;
    background-color: black;
    border: 1px solid olive;
    width: 5rem;
  }

  .commencer{
    width: 12rem;
    height: 4rem;
    background-color: red;
    color: #ffffff;
    border-radius: 2rem;
  }


/* login */

  .formulaire{
    background-color: #52158af9;
    width: 30rem;
    height: 30rem;
    align-items: center;
    text-align: center;
    border-radius: 2rem
  }
  .formulaire .titre{
    color: #FFA501;
  }

  .inpt1{
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .inpt1 input,.inpt2 input{
    background-color: white;
    border: 1px solid white;
    width: 18rem;
    height: 3rem;
    border-radius: 0.4rem;
    font-size: 17px;
  }
  .btnconnexion{
     width: 18rem;
      --color: #FFA501;
      padding: 0.8em 1.7em;
      background-color: transparent;
      border-radius: .3em;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: .5s;
      font-weight: 400;
      font-size: 17px;
      border: 1px solid;
      font-family: inherit;
      text-transform: uppercase;
      color: var(--color);
      z-index: 1;
     }
     
     .btnconnexion::before, .btnconnexion::after {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      transform: translate(-50%, -50%);
      position: absolute;
      border-radius: 50%;
      z-index: -1;
      background-color: var(--color);
      transition: 1s ease;
     }
     
     .btnconnexion::before {
      top: -1em;
      left: -1em;
     }
     
     .btnconnexion::after {
      left: calc(100% + 1em);
      top: calc(100% + 1em);
     }
     
     .btnconnexion:hover::before, .btnconnexion:hover::after {
      height: 410px;
      width: 410px;
     }
     
     .btnconnexion:hover {
      color: rgb(10, 25, 30);
     }
     
     .btnconnexion:active {
      filter: brightness(.8);
     }
     
  /* Register */

  .formulaire2{
    background-color: #52158af9;
    width: 30rem;
    height: 40rem;
    align-items: center;
    text-align: center;
    border-radius: 2rem
  }
  .formulaire2 .titre{
    color: #FFA501;
  }